<form action="/robots/<%= @robot.id %>" method="post" enctype="multipart/form-data">
  <p>Edit Robot</p>
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='robot[name]' value="<%= @robot.name %>"/><br/>
  <input type='text' name='robot[city]' value="<%= @robot.city %>"/><br/>
  <input type='text' name='robot[state]' value="<%= @robot.state %>"/><br/>
  <input type='text' name='robot[birthdate]' value="<%= @robot.birthdate %>"/><br/>
  <input type='text' name='robot[datehired]' value="<%= @robot.datehired %>"/><br/>
  <input type='text' name='robot[department]' value="<%= @robot.department %>"/><br/>
  <input type='submit' value='edit task'/>
</form>
